<h1><%= title %></h1>

<% if (messages) { %>
  <%- messages() %>
<% } %>

<div id="homepage-content">
  <%- include('partials/welcome') %>
  <%- include('partials/car') %>
  <%- include('partials/action-reviews') %>
</div>

